/* ==========================
   Variables & Theme Oxo
========================== */
$oxo-orange: #e07a5f;
$oxo-blue: #b5cde2;
$oxo-white: #fff5eb;

$background-light: $oxo-white;
$background-dark: #0a0a0a;

$foreground-light: #1a2b40;
$foreground-dark: #ededed;

$font-sans:
  -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica,
  Arial, sans-serif;

$font-mono: "Fira Code", monospace;
