@use "../styles/variables.scss" as vars;

.app-header {
  height: 6rem;
  position: sticky;
  top: 0;
  z-index: 50;
  padding: 0 1.5rem;
  border-bottom: 1px solid vars.$oxo-orange;
  background-color: var(--bg-main);
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 720px) {
    height: 6rem;
  }

  .page-title {
    font-weight: 600;
    font-size: 1rem;
    color: var(--text-main);
  }

  .right {
    display: flex;
    gap: 0.75rem;
    align-items: center;

    .header-btn-wrapper {
      position: relative;

      .header-btn {
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
      }

      .dropdown {
        position: absolute;
        top: 110%;
        right: 0;
        background: vars.$oxo-orange;
        border-radius: 0.75rem;
        padding: 1rem;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
        width: 220px;
        z-index: 60;

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          li {
            color: vars.$oxo-white;
            padding: 0.5rem 0;
            border-bottom: 1px solid var(--border-color);
            font-size: 0.9rem;
            &:last-child {
              border-bottom: none;
            }
          }
        }

        p {
          color: vars.$oxo-white;
          font-weight: 600;
          margin-bottom: 0.5rem;
        }

        button {
          width: 100%;
          padding: 0.5rem;
          border-radius: 0.5rem;
          border: none;
          background: var(--oxo-blue);
          color: white;
          font-weight: 600;
          cursor: pointer;
          transition: 0.2s;
          &:hover {
            filter: brightness(0.9);
          }
        }
      }
    }

    .logout {
      width: 100%;
      background: none;
      border: none;
      color: #ef4444;
      display: flex;
      align-items: center;
      gap: 0.75rem;
      cursor: pointer;
      font-weight: 600;
    }
  }

  .burger {
    display: none;
    background: none;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;

    @media (max-width: 720px) {
      display: block;
    }
  }
}
