@use "../styles/variables.scss" as vars;
.app-header {
  height: 6rem;
  position: sticky;
  top: 0;
  z-index: 50;
  padding: 0 1.5rem;
  border-bottom: 1px solid vars.$oxo-orange;
  background-color: var(--bg-main);
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 720px) {
    height: 6rem;
  }

  .page-title {
    font-weight: 600;
    font-size: 1rem;
    color: var(--text-main);
  }

  .right {
    display: flex;
    gap: 0.75rem;
  }

  .header-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
  }

  .logout {
    width: 100%;
    background: none;
    border: none;
    color: #ef4444;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;
    font-weight: 600;
  }
  .burger {
    display: none;
    background: none;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;

    @media (max-width: 720px) {
      display: block;
    }
  }
}
