@use "../styles/variables.scss" as vars;

.footer {
  background-color: vars.$oxo-white;
  padding: 3rem 1.5rem;
  margin-top: 5rem;

  .container {
    max-width: 96rem;
    margin: 0 auto;
    color: #555;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .copyright {
    margin-bottom: 1rem;

    .brand {
      font-weight: 600;
      color: vars.$oxo-orange;
    }
  }

  .links {
    font-size: 0.875rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.75rem;

    .link {
      color: vars.$oxo-blue;
      text-decoration: none;
      transition:
        color 0.3s,
        text-decoration 0.3s;

      &:hover {
        text-decoration: underline;
        color: darken(vars.$oxo-blue, 10%);
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    background-color: vars.$background-dark;

    .container {
      color: vars.$foreground-dark;

      .links .link {
        color: vars.$oxo-blue;
      }
    }
  }
}
