@use "sass:color";
@use "../styles/variables.scss" as vars;
.hero-section {
  position: relative;
  min-height: 27rem;
  padding: 6rem 1.5rem;
  border-radius: 0 0 25% 0%;
  background-image: url("/heroBgImage2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  &::before {
    content: "";
    position: absolute;
    border-radius: 0 0 25% 0%;
    inset: 0;
    background-color: rgba(22, 21, 21, 0.8);
    z-index: 0;
  }

  .container {
    position: relative;
    z-index: 1;
    max-width: 64rem;
    margin: 0 auto;
    text-align: left;
  }

  .hero-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: vars.$oxo-orange;
    margin-bottom: 1.5rem;

    @media (min-width: 768px) {
      font-size: 3rem;
    }

    @media (min-width: 1024px) {
      font-size: 3.5rem;
    }
  }

  .hero-text {
    font-size: 1.125rem;
    color: vars.$oxo-white;
    margin-bottom: 2.5rem;
    line-height: 1.6;

    @media (min-width: 768px) {
      font-size: 1.25rem;
    }

    @media (min-width: 1024px) {
      font-size: 1.375rem;
    }
  }

  .hero-button {
    display: inline-block;
    background-color: vars.$oxo-orange;
    color: white;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 1.125rem;
    text-decoration: none;
    transition: background-color 0.3s;

    &:hover {
      background-color: color.adjust(vars.$oxo-orange, $lightness: -10%);
    }
  }
}
