@use "../../styles/variables.scss" as vars;

.app-shell {
  display: flex;
  min-height: 100vh;
  background: var(--bg-main);
}

/* ================= CONTENT AREA ================= */

.app-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0; // important pour éviter overflow
}

/* ================= MAIN ================= */

.app-content main {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;

  @media (max-width: 720px) {
    padding: 1.25rem;
  }
}
